:root {
  --color1: #D9B0CA;
  --color2: #F2D8E9;
  --backgroud-color: #F2F2F2;
  --header-color: #373e6b;
  --color4: #636DA6;
  --color5: #8890BF;
  --button-color: #bca0b2;
}

/* ----------------------------------------------------------------------- */

:root {
  --color1: #C2DFE1;
  --color2: #53ADAC;
  --color3: #006370;
  --color4: #EF9A9E;
  --color5: #EFD9D9;
}