@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Roboto&display=swap');

* {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

:root {
  --color1: #636DA6;
  --color2: #8890BF;
  --color3: #ffffff;
  --color4: #D9B0CA;
  --color5: #bca0b2;
  --color6: #F2D8E9;
  --color7: #373e6b;
}

/* 스크롤 바 */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none !important;
}